<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="HOCA"
        android:icon="@mipmap/ic_launcher">
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-YW_QtxDVX3FfYx6GhWEPAaUdjU2nX1g"/>
        
    </application>
</manifest>
